html {
    font-size: 62.5%;
    font-family: serif;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    background-color: #f9f9f9;
}

@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

/* Page layout */

.container {
    display: flex;
    flex: 1;
}

.page {
    flex: 1;
    padding: 0;
    overflow: auto;
}

main {
    padding: 1em;
}

nav {
    flex: 0 0 180px;
    padding: 0 10px;
    order: -1;
}

header {
    position: fixed;
    display: block;
    width: 100%;
    text-align: center;
}

/* Sidebar visual styling */

nav {
    border-right: solid 2px black;
    margin: 0;
    height: 100vh;
    overflow-y: auto;
}

/* 
    The header is hidden initially, but will fade-in when you hover over where
    it would be (at the top).

    When the mouse leaves the header, wait a bit before fading out again.
*/

header {
    opacity: 0;
    padding: 0.2em;
    background-color: #f9f9f9;
    transition: opacity 500ms ease-in-out;
    transition-delay: 1s;
}

header:hover {
    opacity: 1;
    transition: opacity 750ms ease-in-out;
}

.book-title {
    color: darkslategray;
}