<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
    {{> after_head }}
</head>

<body>
    {{> header }}

    <div class="container">
        {{> content }}
        {{> sidebar }}
    </div>

    {{> footer }}

    {{> after_body }}
</body>

</html>