<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
    {{> after_head }}
</head>

<body>

    <div class="container">
        <div class="page">
            {{> header }}
            {{> content }}
        </div>
        {{> sidebar }}
    </div>

    {{> footer }}

    {{> after_body }}
</body>

</html>